body {
	margin: 0;
	font-family: 'Raleway', sans-serif;             
	font-size: 14px;                                 
	color: #6c7279;
	background-color: #000;      
}

*,
*:before,
*:after  {                                            
	box-sizing: border-box;                
}     

/* ============== Container ============= */          

.container {                                           
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}  

/* ============== Header ============= */          

.header {                                           
	position: absolute;          
	left: 0;                   
	top: 0;                     
  width: 100%;          
	height: 100%;               
	z-index: 1000;    
  height: 960px;
  background-image: url("img/intro-back.png");
  background-size: cover;  
  background-attachment: fixed;        
}    

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}    

/* ============== Nav ============= */ 
.nav {
	display: flex; 
	font-size : 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link {
	margin-left: 50px; 
	color: #fff;
	text-decoration: none;
	opacity: 0.75;
	transition: opacity 0.1s lenear;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	text-decoration: underline;
	opacity: 1;
}

/* ============== Intro ============= */   
.intro {

    background-repeat: no-repeat;
    background-position: center;          
}                    