body {
	margin: 0;
	font-family: 'Raleway', sans-serif;             
	font-size: 14px;                                 
	color: #6c7279;
	background-color: #fff;      
}

*,
*:before,
*:after  {                                            
	box-sizing: border-box;                
}     

/* ============== Container ============= */          

.container {                                           
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
  padding: 0 15px;
}  

.content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* ============== Header ============= */          

.header {                                           
	position: absolute;       
	left: 0; 
	top: 0; 
  width: 100%; 
	height: 100px;       
	z-index: 1000;   
}    

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}    

/* ============== Nav ============= */ 
.nav {
	display: flex; 
	font-size : 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link {
	margin-left: 50px; 
	color: #fff;
	text-decoration: none;
	opacity: 0.75;
	transition: opacity 0.1s lenear;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	text-decoration: underline;
	opacity: 1;
  color: #00e0d0;
}

/* ============== Intro ============= */   
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 670px;
	padding-top: 100px;
  background-image: url("img/intro-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
	background-color: #31344e;        
}

.intro__inner {        
	max-width: 970px;    
	width: 100%;        
	margin: 0 auto;    
	text-align: center;
}                            

.intro__title {
	margin: 50px 0 20px 0;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
	line-height: 1.1 ;    
	color: #fff;
	font-weight: 700;   
}

.home-line {
  height: 2px;
  width: 50px;
  background-color: #00e0d0;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.intro__subtitle {
	margin-bottom: 60px;
	font-size: 22px;
	line-height:1.5;
	color: #fff;
	font-weight: 400;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 14px; 
}

/* ============== Button ============= */ 
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  border-radius: 2.5px;
  border: 1.3px solid #00e0d0;
  cursor: pointer;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 13px;
  color: #00e0d0;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background .2s linear;
}

.btn:hover {
  background-color: #00e0d0;
  color: #fff;
  transition: 0.2s ease-in;
}

.dots {
  margin-top: 120px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* ======= story ======== */
.story-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-img-container {
  width: 25%;
}

.story-img {
  min-width: 5%;
  margin-left: 20px ;
}

.story-text {
  width: 45%;
  margin-right: 20px;
}

.story-heading {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Playfair Display', serif; 
  color: #54515d;
}

.story-par {
  line-height: 1.7;
  margin-bottom: 20px;
  margin-top: 25px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #817f86;
}

.story-box {
  display: flex;	
  margin-bottom: 30px;
}

.story-box-par {
  color: #817f86;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

.story-btn-content {
  display: inline-block;
  vertical-align: top;
  border: 1.3px solid #00e0d0;
  padding: 10px;
  border-radius: 2.5px;
  color: #00e0d0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Hammersmith One', sans-serif;
  transition: background .2s linear;
}

.story-btn-content:hover {
  background-color: #00e0d0;
  color: #fff;
  transition: 0.2s ease-in;
}

/* ======= Video ======== */
.video {
  height: 550px;
  background: url('img/bg-video.png') no-repeat center center;
  background-size: cover;
}

.video-icon {
  position: absolute;
  margin-left: 50%;
  margin-top: 253px;
  transform: translateX(-50%) translateY(-50%);
}

.video-play-label {
  margin-left: 50%;
  margin-top: 343px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.video-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

/*================= Expertise-txt ===================*/
.expertise-txt {
  margin-top: 10px;
  text-align: center;
}

.expertise-txt__title {
  margin-bottom: 10px;
  font-weight: 300;
  color: #413d4b;
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-transform: uppercase;
}

.expertise-txt__text {
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #797979;
  font-size: 16px;
}

.expertise-txt-line {
  height: 2px;
  width: 50px;
  background-color: #cfcfcf;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ============== Expertise ============= */  
.expertise {
  display: flex;
  margin: 100px 0;
  flex-wrap: wrap;
}

.expertise__item {                          
width: 33.33333%;   
text-align: center;        
padding: 50px 40px;     
margin: -10px 0;
border-top: none;
border-bottom: none;
border-left: 1px solid #ebebeb;
border-right: 1px solid #ebebeb;
}   

.expertise__icon {              
margin-bottom: 20px;     
}                      

.expertise__title {          
  margin-bottom: 15px;  
  font-size: 14px;          
  color: #2d3033;              
  font-weight: 700;            
  text-transform: uppercase;   
}              

.expertise__text {               
  font-size: 14px;           
  line-height: 1.5;           
  color: #6c7279;          
}        

